.modalContent{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.207);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    position: relative;
}

.mainFormContent{
    display: flex;
    justify-content: start;
}

.formContent input{
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    padding: 10px 10px;
}

.formContent select{
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
}

.formContent .addBtn{
    margin-top: 10px;
    padding: 7px 0;
    background-color: #7d7df0 !important;
    transition: all 0.3s;
}

.formContent .addBtn:hover{
    box-shadow: rgba(124, 124, 124, 0.66) 0px 5px 9px;
}

.closeModalBtn{
    position: absolute;
    top: 0;
    right: -40px;
    background-color: rgba(176, 176, 176, 0.615);
    color: black;
    font-weight: bold;
    padding: 4px 11px;
    transition: all .3s ease-in-out;
}

.closeModalBtn:hover{
    cursor: pointer;
    border-radius: 100%;
}

  