.mainContent{
    display: flex;
    justify-content: space-between;
}

.leftContent{
    background-color: red;
    width: 80%;
    height: 100%;
}

.rightContent{
    background-color: aqua;
    width: 20%;
}

.leftHeaderContent{
    text-align: center;
    height: 13vh;
    background-color: rgb(82, 218, 37);
    padding-top: 2%;
}

.leftFooterContent{
    height: 87vh;
}


