.mainContent{
    display: flex;
    justify-content: space-between;
}

.leftContent{
    width: 80%;
    height: 100%;
}

.rightContent{
    width: 20%;
}

.leftHeaderContent{
    text-align: center;
    height: 10vh;
    padding-top: 2%;
}

.leftFooterContent{
    position: relative;
    height: 90vh;
    border: 2px solid black;
}

.linkStyle{
    color: gray;
    transition: all .3s;
}

.linkStyle:hover{
    color: rgb(0, 0, 0);
}

