*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.imgBox{
    background-color: yellow;
    width: 50px;
    height: 50px;
    border-radius: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.imgBox1{
    margin-top: 20px;
    margin-left: 130px;    
}

.imgBox2{
    margin-top: 14%;
    margin-left: 250px;    
}

.imgBox3{
    position: absolute;
    left: 34%;
    top: 23%;    
}

.imgBox4{
    position: absolute;
    left: 31%;
    bottom: 35%;    
}

.imgBox5{
    position: absolute;
    left: 40%;
    bottom: 35%;    
}

.imgBox6{
    position: absolute;
    right: 44%;
    bottom: 42%;    
}

.imgBox7{
    position: absolute;
    right: 44%;
    bottom: 42%;    
}

.imgBox8{
    position: absolute;
    right: 28%;
    top: 14%;    
}

/* TABLE TABLE TABLE TABLE TABLE TABLE TABLE TABLE TABLE TABLE TABLE TABLE TABLE TABLE */

  .responsiveTbl {
    text-align: center;
  }
  
  caption {
    padding-bottom: 0.5em;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    white-space: nowrap;
  }
  
  tr:nth-of-type(even) {
    background: #d1d5d9;
  }
  
  .tableHead th {
    background-color: #708090;
    color: white;
    font-weight: bold;
    padding: 0.5em 0.375em;
    text-align: center;
    border: 1px solid #aaa;
  }
  
  .responsiveTbl {
    border-collapse: collapse;
  }
  
  .responsiveTbl td {
    padding: 0.25em;
    border: 1px solid #aaa;
    text-align: center;
    white-space: nowrap;
  }
  
.parametrContent{
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.leftSide{
    width: 30%;
    background-color: red;
    display: flex;
}

.rightTable{    
    width: 70%;
    background-color: aqua;
}

.boxSearch{
    margin-top: 30px;
}

.searchBtn{
    padding: 8px 22px;
}

.cardContent{
    border-radius: none;
    background-color: white;
    border: none;
}

::-webkit-scrollbar-track {
    background: red; 
}

::-webkit-scrollbar-thumb {
  background: blue; 
}

::-webkit-scrollbar-thumb:hover {
    background: green; 
}

.tbodyFloor1{
    overflow-y:scroll; 
    height:630px;
}








